<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Shiv</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

  <style>
    #intro {
      background-image: url({{ about.profile_picture.url }});
      height: 100vh;


    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>
  <!--navbar start-->
  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link" target="_blank" href="#">
        <strong>My Portfolio
        </strong>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#intro">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#message">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              My Learning
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#edu">Education Background</a>
              <a class="dropdown-item" href="#current_job">Current Job</a>
            </div>
          </li>

        </ul>

        <ul class="navbar-nav d-flex flex-row justify-content-end">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
              target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>


      </div>
    </div>
  </nav>


  <!-- Background image -->

  <div id="intro" class="bg-image shadow-2-strong p-5">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="d-flex flex-column align-items-center justify-content-center text-center text-white">
          <h1 class="d-block ">Hi, I'm </h1>
          <br>
          <h2 class="d-block ">{{info.name}}</h2>
          <br>
          <p class="d-block">{{info.title}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- about.html -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center my-5">{{ about.name }}</h1>
          <p class="lead">{{ about.bio }}</p>
        </div>
        <div class="col-md-6">
          <img src="{{ about.profile_picture.url }}" class="img-fluid rounded-circle float-right" />
        </div>
      </div>
    </div>
  </div>
  <br />

  <!--My Learning-->
  <div id="edu">
    <div class="container">
      <h1 class="text-center mt-3">Education Background</h1>
      <div class="row">
        {% for education in learning %}
        <div class="col-md-6 mt-3">
          <div class="card">
            <div class="card-header">{{ education.school }}</div>
            <div class="card-body">
              <p class="card-text">Degree: {{ education.degree }}</p>
              <p class="card-text">
                Field of Study: {{ education.field_of_study }}
              </p>
              <p class="card-text">
                Duration: {{ education.start_date }} - {{ education.end_date
                }}
              </p>
              <p class="card-text">
                Description: {{ education.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div></div>
    </div>
  </div>
  <!--My Learning-->

  <!--Job -->
  <div id="current_job">
    {% if current_jobs %}
    <div class="card mb-3">
      <div class="card-header">
        <h3>{{ current_jobs.last.job_title }} at {{ current_jobs.last.company }}</h3>
        <p>{{ current_jobs.last.start_date }} - {% if current_jobs.last.end_date %}{{ current_jobs.last.end_date }}{%
          else
          %}Present{% endif %}</p>
      </div>
      <div class="card-body">
        <p>{{ current_jobs.last.description }}</p>
      </div>
    </div>
    {% else %}
    <p>No current job information to display.</p>
    {% endif %}
  </div>

  <!--Job -->
  <!--project-->
  <div id="project">
    <h1>Projects</h1>
    {% for post in posts %}
    <a href="{% url 'project_detail' post.pk %}">{{ post.title }}</a><br />
    {% endfor %}
  </div>
  <!--project-->

  <!--Contact.html-->
  <div id="message">
    <h3>Contact Me</h3>
    <hr />
    <form method="post">
      {% csrf_token %}
      <div class="form-group">{{ form.as_p }}</div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <hr />

  <!--end of contact form-->
</body>

<!--bootsrap js-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<footer class="bg-light text-lg-start">


  <hr class="m-0" />

  <div class="text-center py-4 align-items-center">
    <p>Follow Me on social media</p>
    <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
      target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
      target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:

  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->

</html>