{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Shiv</title>

    <style>
      body {
        background-image: url('{% static "image/shiv.jpg" %}');
        background-size: cover;
        background-blur: 5px;
        font-family: Arial, sans-serif;
        color: white;
        text-align: center;
      }

      .content {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1 id="name"></h1>
      <p id="title"></p>
    </div>

    <script>
      const name = "{{ info.name }}".split(" ");
      const title = "{{ info.title }}".split(" ");
      let i = 0;
      let j = 0;

      function displayName() {
        if (i < name.length) {
          document.getElementById("name").innerHTML += name[i] + " ";
          i++;
          setTimeout(displayName, 500);
        }
      }

      function displayTitle() {
        if (j < title.length) {
          document.getElementById("title").innerHTML += title[j] + " ";
          j++;
          setTimeout(displayTitle, 500);
        }
      }

      displayName();
      setTimeout(displayTitle, 500);
    </script>
  </body>
</html>
