<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Shiv</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- local css -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- bootstrap cdn link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <!-- new bootstrap cdn link (5.3 version) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- fontawesome css link -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


  <style>
    .hero-section {
      background-image: url({{ about.profile_picture.url }});
      height: 100vh;
      background-size: cover;
      background-position: top 20% left 60%;
      background-repeat: no-repeat;
    }



    @media screen (min-width:576px) {
      .hero-section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: unset !important;
      }

      #intro {
        position: unset !important;
        margin-top: 400px;
      }


    }
  </style>
</head>

<body>


  <!--navbar start-->
  <div class="hero-section mb-4 d-flex flex-column position-relative" id="home-page">
    <nav class="navbar navbar-expand-lg d-none d-lg-block bg-light-subtle fixed-top border-bottom">
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" href="#home-page">
          <p class="fs-4 fw-bolder text-dark m-0">My Portfolio</p>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#home-page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#message">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                My Learning
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#edu">Education Background</a>
                <a class="dropdown-item" href="#current_job">Current Job</a>
              </div>
            </li>

          </ul>

          <ul class="navbar-nav d-flex flex-row justify-content-end my-links">

            <li class="nav-item me-3 ">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100005949692756" rel="nofollow"
                target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item me-3 ">
              <a class="nav-link" href="https://twitter.com/33886Shiv" rel="nofollow" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 ">
              <a class="nav-link" href="https://github.com/Mahaa-Dev" rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Background image -->
    <div id="intro" class="position-absolute rounded p-3">
      <div class="d-flex flex-column align-items-center justify-content-center text-center text-light">
        <p class="m-0 fs-2">Hi, I'm </p>
        <p class="m-0 fs-1 fw-bolder text-decoration-underline">{{info.name}}</p>
        <p class="m-0 fs-6 fw-bold">{{info.title}}</p>
      </div>
    </div>
  </div>
  <!-- about.html -->
  <div id="about" class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-center my-5 text-decoration-underline fs-1 fw-bolder">{{ about.name }}</p>
          <p class="lead">{{ about.bio }}</p>
        </div>
        <div class="col-md-6">
          <img src="{{ about.profile_picture.url }}" class="img-fluid rounded" />
        </div>
      </div>
    </div>
  </div>
  <br />

  <!--My Learning-->
  <div id="edu" class="mb-4">
    <div class="container border rounded bg-secondary-subtle">
      <p class="text-center pb-3 text-decoration-underline fs-1 fw-bolder">Education Background</p>
      <div class="row ">
        {% for education in learning %}
        <div class="col-md-6 d-flex flex-wrap py-2">
          <div class="card">
            <div class="card-header fw-bold">{{ education.school }}</div>
            <div class="card-body">
              <p class="card-text text-muted">Degree: <span class="fw-bold text-dark">{{ education.degree }}</span></p>
              <p class="card-text text-muted">
                Field of Study: <span class="fw-bold text-dark">{{ education.field_of_study }}</span>
              </p>
              <p class="card-text text-muted">
                Duration: <span class="fw-bold text-dark">{{ education.start_date }} - {{ education.end_date}}</span>
              </p>
              <p class="card-text text-muted">
                Description: <span class="fw-bold text-dark">{{ education.description }}</span>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div></div>
    </div>
  </div>
  <!--My Learning-->

  <!--Job -->
  <div id="current_job" class="container mb-4 bg-secondary-subtle p-3 border rounded">
    <p class="fs-1 text-center fw-bolder text-decoration-underline">My Current Job</p>
    {% if current_jobs %}
    <div class="card">
      <div class="card-header">
        <a href="https://heraldcollege.edu.np/" class="text-decoration-none text-dark" target="_blank">
          <h3 class="text-decoration-underline">{{ current_jobs.last.job_title }} at {{ current_jobs.last.company }}
          </h3>
        </a>
        <p class="px-3">{{ current_jobs.last.start_date }} - {% if current_jobs.last.end_date %}{{
          current_jobs.last.end_date }}
          {%else%}
          Present
          {% endif %}
        </p>
      </div>
      <div class="card-body">
        <p>{{ current_jobs.last.description }}</p>
      </div>
    </div>
    {% else %}
    <p>No current job information to display.</p>
    {% endif %}
  </div>

  <!--Job -->
  <!--project-->
  <div id="project" class="container p-3 mb-4">
    <div class="row g-3">
      <div class="col-md-6 col-sm-12">
        <p class=" m-auto fs-3 fw-bolder">Projects : </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul>
          {% for post in posts %}
          <li class="p-2">
            <a href="{% url 'project_detail' post.pk %}" class="btn btn-primary">{{ post.title }}</a><br />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!--project-->

  <!--Contact.html-->
  <div id="message" class="container p-3 rounded bg-secondary-subtle mb-4">
    <p class="border-bottom pb-3 fw-bolder fs-3 m-0">Contact Me : </p>
    <form method="post" action="{%url 'contact'%}" class="">
      {% csrf_token %}
      <div class="form-group">{{ form.as_p }}</div>
      <button type="submit" class="btn btn-primary text-center w-100">Submit</button>
    </form>
  </div>

  <!--end of contact form-->
</body>


<div class="text-center mb-4 align-items-center">
  <p class="fw-bold fs-6">Follow Me On <span class="fs-4 text-uppercase ps-2"> Social Media</span></p>
  <a href="https://www.facebook.com/profile.php?id=100005949692756" class="btn btn-primary m-1" role="button"
    rel="nofollow" target="_blank">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://twitter.com/33886Shiv" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://github.com/Mahaa-Dev" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</div>

<!-- Copyright -->
<div class="text-center p-3 bg-dark-subtle">
  © 2023 Copyright:


  <!--jquery js-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- new bootstrap script cdn (5.3 version) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <!-- custom js -->
  <script src="/static/js/main.js"></script>


  <footer class="bg-light text-lg-start">

</div>
<!-- Copyright -->
</footer>
<!--Footer-->

</html>